body, html {
    height: 100%;
    scroll-behavior: smooth;
    background-color:#f5f5f5;
}

.nav-item{
  list-style:none;
}

.recipeSearch{
  display:inline-block;
}

/* The hero image */
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://previews.123rf.com/images/vicushka/vicushka1511/vicushka151100033/48413260-salmon-fish-fillets-on-cutting-board-and-fresh-ingredients-for-cooking-on-rustic-background-top-view.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.heroImageTitle {
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  font-size:200px;
}

h1{
    font-size:90px;
    font-family: 'Ephesis', cursive, sans-serif;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}



.featureRecipe{
  display:flex;
  justify-content: center;
  background-color:black;
  color:white;
}

.img-hover-zoom {
  height: 300px; /* [1.1] Set it as per your need */
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.5);
}



.column{
  padding:4px;
}

.second-ul {
  display: flex;
  flex-wrap: wrap;
  list-style:none;
}

.second-li {
  height: 40vh;
  flex-grow: 1;
}

li > img {
  display:block;
  max-height: 70%;
  min-width: auto;
  object-fit: cover;
  padding:2px;
}

#utensils{
  background:bisque;
  
}

.caption{
  font-family: 'Playfair Display', serif;

}



.husbandHeader{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif sans-serif; 
  font-size:22px;
  font-weight:100;
  
}

#husbandPicks{
  display:flex;
  justify-content: center;
  flex-direction: row;
  padding:50px;  
}

.card-img-top {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  margin:10px;
  }

  footer{
    background:bisque;
  }


  /**START OF RECIPES PAGE*/ 

  .recipeSearch{
  display:none;
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
  }

ul{
  list-style:none;

}



#quickEasy{
  display:flex;
    justify-content:space-evenly;
    flex-direction:row;
    flex-wrap:wrap;
    border:4px solid black;

}

  #sheetPan{
    display:flex;
    justify-content:space-evenly;
    flex-direction:row;
    flex-wrap:wrap;
    border:4px solid black;

  }

  #vegeterian{
    display:flex;
    justify-content:space-evenly;
    flex-direction:row;
    flex-wrap:wrap;
    border:4px solid black;

  }

  #featured{

    display:flex;
    justify-content:space-evenly;
    flex-direction:row;
    flex-wrap:wrap;
    border:4px solid black;


  }

  .container{
    background-color:#e9e9e9;
  }